/* Add your styles here. */
body{
    background-color: aquamarine;
    color: black;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    color: indigo;
    text-align: center;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    color: indigo;
}

